@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body,
html {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* 세로축 스크롤바 폭 너비 */
  height: 8px; /* 가로축 스크롤바 폭 너비 */
}
::-webkit-scrollbar-thumb {
  background: #515151; /* 스크롤바 막대 색상 */
  border: 2px solid #eaeaea; /* 스크롤바 막대 테두리 설정  */
  border-radius: 20px;
}
/* 스크롤이 움직이는 뒷 배경 */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #ffffff; /* 스크롤바 뒷 배경 색상 */
}
